.App {
  text-align: center;
  
}

body{
background-color: #f4f4f4 ;
}

p{
  font-family: Inter;
  font-weight: 700;
}

.start button{
  background-color: #187321;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  border: none;
  width: 77px;
  height: 50px;
  margin: 20px;



}

.timer-blue,
.timer-green{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.timer-text{
  
  font-family: 'Inter';
  font-size: 4rem;
  align-self: center;
  text-align: center;
  font-weight: 300;
}

.timer-green h3{
background-color: white;
border: 10px solid #3CC96C;
border-radius: 10px;
width: 200px;
padding: 25px;

}

.timer-blue h3{
  background-color: white;
  border: 10px solid #2F40DB;
  border-radius: 10px;
  width: 200px;
  padding: 25px;

}


