.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  
}

body{
background-color: #595454 ;
}

p{
  font-family: Inter;
  font-weight: 700;
  color: whitesmoke;
}

button{
  background-color: #3898ff;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  border: none;
  
}

h1{
  font-family: 'Inter';
  margin-top: 20px;
  color: whitesmoke;


}


.start button{
  width: 77px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;

}

.timer-blue,
.timer-green{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  

}

.timer-text{
  
  font-family: 'Inter';
  font-size: 4rem;
  align-self: center;
  text-align: center;
  font-weight: 300;
  color: whitesmoke;
}

.timer-green h3{
background-color: rgb(166 160 160);
border: 10px solid #3CC96C;
border-radius: 10px;
width: 200px;
padding: 25px;
margin-top: 0;

}

.timer-blue h3{
  background-color: rgb(166 160 160);
  border: 10px solid #2F40DB;
  border-radius: 10px;
  width: 200px;
  padding: 25px;
  margin-top: 0;

}


form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.goal-form button{
  width: 77px;
  height: 25px;
  padding: 0 4px;
  margin:0; 
  border-radius: 0 5px 5px 0;
}

.goal-form input{
  padding:0;
  margin: 0;
  border: none;
  height: 25px;
  width: 300px;
  background-color: rgb(130, 126, 126);;
  color: white;
  border-radius: 5px 0 0 5px;
  

}

.goal-form h4{
  color: rgb(208, 202, 202);
}

.goal-written{
  font-size: 20px;
  font-style: italic;
  color: white;
}


