.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  
}

body{
background-color: #0b2434 ;
}

p{
  font-family: Inter;
  font-weight: 700;
  color: white;
}

button{
  background-color: #5035FF;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 700;
  border: none;
  
}

h1{
  font-family: 'Inter';
  margin-top: 20px;
  color: white;


}


.start button{
  width: 77px;
  height: 50px;
  margin: 20px;
  border-radius: 5px;

}

.timer-blue,
.timer-green{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  

}

.timer-text{
  
  font-family: 'Inter';
  font-size: 4rem;
  align-self: center;
  text-align: center;
  font-weight: 300;
  color: black;
}

.timer-green h3{
background-color: #f5f5f5;
border: 10px solid #3CC96C;
border-radius: 10px;
width: 200px;
padding: 25px;
margin-top: 0;

}

.timer-blue h3{
  background-color: #f5f5f5;
  border: 10px solid #2F40DB;
  border-radius: 10px;
  width: 200px;
  padding: 25px;
  margin-top: 0;

}


form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.goal-form button{
  width: 77px;
  height: 25px;
  padding: 0 4px;
  margin:0; 
  border-radius: 0 5px 5px 0;
}

.goal-form input{
  padding:0;
  margin: 0;
  border: none;
  height: 25px;
  width: 300px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 2px 0 0 2px;
  

}

.goal-form h4{
  color: rgb(208, 202, 202);
}

.goal-written{
  font-size: 20px;
  font-style: italic;
  color: white;
}


